<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,121},{6,7}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{6,7}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>expl_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,41},{28,41}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{28,41}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>expl_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,0},{26,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{26,35}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>expl_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,26},{24,27}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{24,27}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>expl_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{28,35}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{28,35}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>expl_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,67},{22,17}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{22,17}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>expl_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,121},{14,5}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,23},{14,5}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>expl_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,50},{18,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{18,17}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>expl_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,50},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{22,27}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>expl_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,37},{26,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{26,37}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>expl_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,80},{28,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{28,37}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>expl_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,41},{26,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{26,39}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>expl_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{30,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{30,41}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>expl_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,82},{32,39}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{32,39}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>expl_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,0},{28,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{28,37}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Explosion.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ac200389ea749db0f8f23634686cc0d$</string>
            <key>textureFileName</key>
            <string>Explosion.png</string>
        </dict>
    </dict>
</plist>
